<div id="header">
    <div id="title-div">
        <a href="/" id="title">
            <img class="logo-header-image" src="/img/logo_for_BB_HUB.svg" alt="BB Hub Logo"/>
        </a>
    </div>
    <div id="nav">
        <div class="nav-links">
            <a class="nav-link" href="/">Home</a>
            <a class="nav-link" href="/schedule">Schedule</a>
            <a class="nav-link" href="/announcements">Announcements</a>
            <a class="nav-link" href="/map">Map</a>
            <a class="nav-link invisible" href="/users/<%= id %>">View Profile</a>
            <a class="nav-link invisible" href="/logout">Log Out</a>
        </div>
        <div id="menu-icon">
            <div></div>
            <div></div>
            <div></div>
        </div>
        <img class="image-link profile-image" alt="profile image" src="<%= picture %>"></img>
        <div class="profile-menu-selection invisible">
            <a class="menu-option" href="/users/<%= id %>">View Profile</a>
            <a class="menu-option" href="/logout">Log Out</a>
        </div>
    </div>
    <script src="/js/header.js"></script>
</div>