<div id="header">
    <div id="title-div">
        <a href="/" id="title">BB Hub</a>
    </div>
    <div id="nav">
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="/about">About</a>
        <div id="menu-icon">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</div>