<div id="header">
    <div id="title-div">
        <a href="/" id="title">
            <img class="logo-header-image" src="/img/logo_for_BB_HUB.svg" alt="BB Hub Logo"/>
        </a>
    </div>
    <div id="nav" class="pre-nav">
        <div class="nav-links">
            <a class="nav-link pre-link" href="/">Home</a>
            <a class="nav-link pre-link" href="/about">About</a>
        </div>
        <div id="menu-icon">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <script src="/js/header.js"></script>
</div>