<option value="H100">H100</option>
<option value="H101">H101</option>
<option value="H102">H102</option>
<option value="H103">H103</option>
<option value="H104">H104</option>
<option value="H105">H105</option>
<option value="H107">H107</option>
<option value="H108">H108</option>
<option value="H201">H201</option>
<option value="H202">H202</option>
<option value="H203">H203</option>
<option value="H204">H204</option>
<option value="H205">H205</option>
<option value="H206">H206</option>
<option value="H207">H207</option>
<option value="H208">H208</option>
<option value="H209">H209</option>
<option value="H210A">H210A</option>
<option value="H210B">H210B</option>
<option value="H212">H212</option>
<option value="H213">H213</option>
<option value="H214">H214</option>
<option value="H215">H215</option>
<option value="H216">H216</option>
<option value="H217">H217</option>
<option value="H219">H219</option>
<option value="H220">H220</option>
<option value="H221">H221</option>
<option value="M100">M100</option>
<option value="M101">M101</option>
<option value="Auditorium">Auditorium</option>
<option value="BandRoom">Band Room</option>
<option value="Cafeteria">Cafeteria</option>
<option value="Entrance">Entrance</option>
<option value="FITT">FITT</option>
<option value="Faculty">Faculty</option>
<option value="HGYM">High School Gym</option>
<option value="LGI">LGI</option>
<option value="Library">Library</option>
<option value="MCAF">Middle School Cafeteria</option>
<option value="MGYM">Middle School Gym</option>
<option value="MarketPlace">Market Place</option>
<option value="Nurse">Nurse</option>
<option value="PORT">PORT</option>
<option value="WC">Writing Center</option>