<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='/css/map.css' />
    </head>
    <body>
        <input type="text" id="startingLocation" placeholder="Starting Location"/>
        <input type="text" id="finalLocation" placeholder="Final Location"/>
        <button id="submit">submit</button>
        <div id="maps">
            <div class="map" id="map1">
                <p id="map1-title"></p>
            </div>
            <div class="map" id="map2">
                <p id="map2-title"></p>
            </div>
        </div>
    </body>
    <script src="/js/map.js"></script>
</html>