<!DOCTYPE>
<html>
    <head>
        <title>Posts</title>
    </head>
    <body>
        <a href="/">Home</a><br>
        <input id="title" type="text" placeholder="Title"><br>
        <textarea id="message"></textarea><br>
        <button type="submit" id="submit">Submit</button>
        <input type="file" id="img" name="img" accept="image/png, image/jpeg">
        <div id="posts">
            <% if (locals.posts) { %>
                <% posts.forEach(post => { %>
                    <hr>
                    <h1><%= post.title %></h1>
                    <% if (post.img.data) { %>
                        <% const b64 = Buffer.from(post.img.data.buffer).toString('base64') %>
                        <img width="200px" height="auto" alt="Image" src="data:image/jpeg;base64, <%= b64 %>">
                    <% } %>
                    <p><%= post.user.name %></p>
                    <p><%= post.message %></p>
                    <hr>
                <% }); %>
            <% } %>
        </div>
        <script src="/js/posts.js"></script>
    </body>
</html>