<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <textarea placeholder="Drop Schedule"></textarea>
        <button id="button" type="submit">Submit</button>
        <p id="schedule"></p>
    </body>
    <script src="/javascripts/scheduler.js"></script>
</html>