.route {
    animation-duration: 2s;
    animation-name: show-route;
    stroke: red;
    fill: red;
}
#map1, #map2 {
    height: 450px;
}
#maps {
    display: flex;
    flex-direction: column;
}
  
svg, g {
    display: flex;
    align-items: center;
    justify-content: center;
}
@keyframes show-route {
    from {
        stroke: black;
        fill: black;
        right: 0%;
    }

    to {
        right: 100%;
        stroke: red;
        fill: red;
    }
}