#header {
    box-sizing: border-box;
    font: 20px Arial;
    background-color: #242826;
    position: fixed;
    top: 0;
    padding: 18px;
    width: 100%;
    z-index: 900;
}
.logo-header-image {
    width: 120px;
    height: 48px;
}
#title-div {
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}
#nav {
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 41px;
    display: flex;
    justify-content: center;
}
.nav-link, .image-link {
    margin: 0 20px;
    text-decoration: none;
    opacity: 0.7;
    color: #ffffff;
    cursor: pointer;
}
.nav-link:hover {
    opacity: 1;
}
.pre-link {
    margin: 0 30px;
}
.pre-nav {
    margin-right: 20px;
}
#nav #menu-icon div {
    width: 35px;
    height: 5px;
    background-color: #242826;
    margin: 6px 0;
}
#nav #menu-icon {
    float: right;
    margin: 0 10px;
    display: none;
    cursor: pointer;
}
img {
    height: 41px;
    vertical-align: text-top;
    border-radius: 10px;
}
.profile-image {
    height: 41px;
    opacity: 1;
}
.profile-menu-selection {
    display: flex;
    flex-direction: column;
    background-color: #242826;
    border-radius: 10px;
    position: absolute;
    top: 64px;
    right: 36px;
    padding: 4px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}
.menu-option {
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    margin: 12px 0;
    border-radius: 10px;
    padding: 24px;
    margin: 0;
}
.menu-option:hover {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);  
}
@media screen and (max-width: 880px) {
    .nav-link, .profile-image {
        display: none;
    }
    #nav #menu-icon {
        display: block;
    }
    #header.clicked #menu-icon {
        position: absolute;
        right: 18px;
        top: 19px;
    }
    #header.clicked #nav {
        width: 100%;
        float: none;
        height: max-content;
    }
    #header.clicked .nav-links {
        display: flex;
        flex-direction: column;
    }
    #header.clicked .nav-link {
        text-align: center;
        display: block;
        text-align: center;
        margin: 6px 0;
    }
    #header.clicked .nav-link.invisible {
        display: block !important;
    }
    #header.clicked .profile-menu-selection {
        display: none !important;
    }
}