.route {
    animation-duration: 2s;
    animation-name: show-route;
    stroke: red;
    fill: red;
}
#map1, #map2 {
    width: 1000px;
}
#maps {
    display: flex;
    flex-direction: row;
}

p {
    font-size: 24px;
    text-align: center;
}

.title {
    margin: 0;
    margin-top: 12px;
}
  
svg, g {
    display: flex;
    align-items: center;
    justify-content: center;
}
.get-location-divs {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.location-div {
    margin: 6px 0;
}
label {
    font-size: 24px;
}
.submit {
    font-size: 24px;
    background-color: #1472ff;
    padding: 8px;
    border: none;
    padding: 8px;
    border-radius: 10px;
    color: #ffffff;
}
@keyframes show-route {
    from {
        right: 0%;
        stroke: black;
        fill: black;
    }

    to {
        right: 100%;
        stroke: red;
        fill: red;
    }
}