.route {
    animation-duration: 2s;
    animation-name: show-route;
    stroke: red;
    fill: red;
}
#map1, #map2 {
    width: 1000px;
}
#maps {
    display: flex;
    flex-direction: row;
}
p {
    font-size: 24px;
    text-align: center;
}

.title {
    margin: 0;
    margin-top: 12px;
}
  
svg, g {
    display: flex;
    align-items: center;
    justify-content: center;
}
.get-location-divs {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.location-div {
    margin: 6px 0;
}
label {
    font-size: 24px;
}
.submit {
    font-size: 24px;
    background-color: #1472ff;
    padding: 8px;
    border: none;
    width: 256px;
    border-radius: 10px;
    color: #ffffff;
    cursor: pointer;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    margin: 18px 0;
    margin-bottom: 0;
}
.submit:hover {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3), 0 3px 10px 0 rgba(0, 0, 0, 0.4);
}
.submit:active {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.4), 0 3px 10px 0 rgba(0, 0, 0, 0.6);
}
.body-message{
    margin: 12px 0;
}
@keyframes show-route {
    from {
        right: 0%;
        stroke: black;
        fill: black;
    }

    to {
        right: 100%;
        stroke: red;
        fill: red;
    }
}

@media screen and (max-width: 1400px) {
    #maps {
        flex-direction: column;
        align-items: center;
    }
}
@media screen and (max-width: 850px) {
    #map1, #map2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 500px;
    }
    svg {
        width: 500px;
    }
}
@media screen and (max-width: 520px) {
    .location-div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    p, label {
        font-size: 18px;
    }
    #map1, #map2 { 
        width: 300px;
    }
    svg {
        width: 300px;
    }
}