<!DOCTYPE html>
<html lang="eng">
  <head>
    <link  href='/css/style.css' type="text/css" rel='stylesheet'/>
    <link href="/css/header.css" type="text/css" rel="stylesheet"/>
    <link href="/css/about.css" type="text/css" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-signin-client_id" content="665999096135-8onhd9jfj6f6rj4qid16s9j6qnqumf55.apps.googleusercontent.com">
    <title>About - BB Hub</title>
  </head>
  <body>
    <%- include('../partials/preheader'); -%>
    <main>
      <div class="white-background">
          <p>
            BB Hub is a site where students get to view their daily schedule, lunch offerings, classroom assignments, and much more.
          </p>
          <p>
            Students can customize their profile and share it with friends.
          </p>
          <p>
            BB Hub was created and is currently controlled by John Ramirez and the Blind Brook Computer Club organization.
          </p>
          <p>
            For any questions or issues, please contact <a href="mailto:jramirez@blindbrook.org">John Ramirez</a>
          </p>
      </div>
    </main>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="/js/login.js"></script>
  </body>
</html>