<!DOCTYPE html>
<html lang="eng">
  <head>
    <link  href='/css/style.css' type="text/css" rel='stylesheet'/>
    <link href="/css/header.css" type="text/css" rel="stylesheet"/>
    <link href="/css/login.css" type="text/css" rel="stylesheet"/>
    <link rel="icon" type="image/png" href="/img/bb_hub_icon.jpg">
    <link rel="shortcut icon" type="image/png" href="/img/bb_hub_icon.jpg"/>
    <link rel="apple-touch-icon" href="/img/bb_hub_icon.jpg"> 
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-signin-client_id" content="665999096135-8onhd9jfj6f6rj4qid16s9j6qnqumf55.apps.googleusercontent.com">
    <title>BB Hub</title>
  </head>
  <body>
    <%- include('../partials/preheader'); -%>
    <main>
      <div class="sign-in-div">
        <img class="logo-image" src="/img/logo_for_BB_HUB.svg" alt="BB Hub Logo" />
        <div class="sign-up-body">
          <p class="page-body">The full Blind Brook experience in one site</p>
          <strong id="error"><%= locals.error %></strong>
          <div class="g-signin2" data-theme="dark" data-width="300" data-height="75" data-longtitle="true" data-onsuccess="onSignIn"></div>
        </div>
      </div>
      <img class="image1" src="/img/image0.svg" alt="BB Hub Screen" />
    </main>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="/js/login.js"></script>
  </body>
</html>