<!DOCTYPE html>
<html lang="eng">
  <head>
    <link  href='/css/style.css' type="text/css" rel='stylesheet'/>
    <meta name="google-signin-client_id" content="665999096135-8onhd9jfj6f6rj4qid16s9j6qnqumf55.apps.googleusercontent.com">
    <title>Log In - BB Hub</title>
  </head>
  <body>
    <div class="main">
      <h1 id="title">BB Hub</h1>
      <div class="pop">
        <div id="login-content">
          <h1 id="sign-in">Sign In</h1>
          <strong id="error"><%= locals.error %></strong>
          <div class="g-signin2" data-theme="dark" data-width="auto" data-height="80" data-longtitle="true" data-onsuccess="onSignIn"></div>
        </div>
      </div>
    </div>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="/js/login.js"></script>
  </body>
</html>